.App {
  text-align: center;
}

.working {
  animation: App-logo-spin-working infinite 4s linear;
  height: 40vmin;
  pointer-events: none;
}
.nowork {
  animation: App-logo-spin-nowork infinite 0.5s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin-working {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}


@keyframes App-logo-spin-nowork {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}